body, html { margin:0; padding:0; width:100%; height:100%; }

body {
	background:#ddd;
	font-family:calibri,trebuchet ms, Tahoma, sans-serif;
	text-align:center; 	
}
.wrapper { 
	width:1124px;
	height:auto;
	min-height:30px;
	background:#fff;
	display:inline-block;
	text-align:left;
	box-shadow:rgba(0,0,0,.4) 0px 0px 15px;
	margin:20px 0;
}
h1, h2, h3 { text-transform:uppercase; }
header {
	background:#5F7FBF;
	box-shadow:rgba(0,0,30, .1) 0px 5px 20px inset;
	color:#fff;
}
header h1 { padding: 20px 15px; margin:0; text-shadow:rgba(0,0,0,.4) 0px 5px 5px;}
header h1 a { color:#fff; text-decoration:none; }
header ul { margin:0; padding:10px 0 0 15px; height:48px; background:rgba(0,0,0,.3); }
header ul li { display:inline-block; list-style:none; margin:0 5px 0 0; }
header ul li a { color:#fff; display:block; background:rgba(0,0,0,.3); padding:10px 20px; height:28px;
	text-decoration:none;}
header ul li.select a { height:38px; }
header ul li a:hover { height:34px; }	
	
#content {
	margin:15px;
	min-height:300px;
}

footer {
	border-top:1px solid #555;
	text-align:center;
	padding:15px 0;
}